name: "Lint & Test"
on:
  pull_request:
    branches:
      - main

jobs:
  security:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
          check-latest: true # Ensure the cache isn't stale.

      - name: check-vuln
        run: make check-vuln

      - name: gosec
        uses: securego/gosec@v2.20.0
        env:
          GO111MODULE: on
        with:
          args: ./...

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
          check-latest: true # Ensure the cache isn't stale.

      - name: Lint
        run: make lint

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
          check-latest: true # Ensure the cache isn't stale.

      - name: Test
        run: make coverage
